/*
 * Maquetación editar
 */
.contenedor-editar{
    display: grid;
    grid-template-columns: auto 500px auto;
}

/*
 * Media query login y reset password
 */
@media (max-width: 575px) {
    /*
     * Form login responsivo
     */
    .contenedor-editar{
        grid-template-columns: 20px 1fr 20px;
    }
}