/*
 * Tipografía
 */
* {
    font-family: 'Nunito', sans-serif;
}

/*
 * Tamaño de fuente
 */
nav, input, select, option, td, li, a {
	font-size: 14px !important
}

/*
 * Deshabilitar ajuste de linea en celdas de tabla
 */
table tbody td, table thead th{
    white-space: nowrap !important;
}

/*
 * Contenedor circular logo nav
 */
.navbar-brand{
    padding: 0px !important;
    overflow: hidden;
    width: 32px;
    background-color: white !important;
    border-radius: 16px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

/*
 * Agregar hover a navbar
 */
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-primary .dropdown-item:active, .dropdown .dropdown-menu.dropdown-primary .dropdown-item.active, .dropup .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropup .dropdown-menu.dropdown-primary .dropdown-item:active, .dropup .dropdown-menu.dropdown-primary .dropdown-item.active, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:active, .dropleft .dropdown-menu.dropdown-primary .dropdown-item.active, .dropright .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropright .dropdown-menu.dropdown-primary .dropdown-item:active, .dropright .dropdown-menu.dropdown-primary .dropdown-item.active {
    background-color: #3F729B !important;
    border-radius: .125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

/*
 * Quitar padding en enlaces de nav
 */
div.dropdown-menu{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/*
 * Modificar color de texto a enlaces del nav en hover
 */
.dropdown-item:hover{
	color: #fff !important;
}

/*
 * Centrar enlaces de paginación
 */
ul.pagination {
    justify-content: center !important;
}

/*
 * Color hover filas de tabla
 */
table tbody tr:hover{
    background-color: #cfd8dc !important;
}

/*
 * Tamaño icono excel
 */
.excel{
    font-size: 20px;
}

/*
 * Grid filtro
 */
.contenedor-filtro{
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
}

/*
 * Quitar margen a botón filtro
 */
.contenedor-filtro .boton button{    
    margin-right: 0px;
    margin-left: 0px;
}

/*
 * Agregar margen a la derecha en elementos de filtro
 */
.contenedor-filtro .cantidad,
.contenedor-filtro .campo,
.contenedor-filtro .orden{
    margin-right: 5px;
}

/*
 * Media query boton buscar nav
 */
@media (max-width: 575px) {
    #botonBuscarNav{
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100% !important;
    }
}

/*
 * Media query filtro
 */
@media (max-width: 768px) {
    /*
    * Redimensión de elementos del filtro
    */
    .contenedor-filtro .exportar,
    .contenedor-filtro .cantidad,
    .contenedor-filtro .campo,
    .contenedor-filtro .orden,
    .contenedor-filtro .boton{    
        grid-column: 1 / -1; 
        margin-right: 0px;
        margin-bottom: 12px;
    }

    /*
    * Acomodar botón
    */
    .contenedor-filtro .boton button{    
        width: 100%;
        margin: 0px;
    }

    /*
     * Margen de 
     */
    .contenedor-filtro .exportar{
        text-align: center;
        margin-bottom: 24px;
    }
}
